@use "../../../stylesheets/vendor/nhsuk-frontend/base" as *;
@use "../breast-diagram" as *;

.app-image-marker {
  @include nhsuk-font(19, $weight: bold);
}

.app-image-marker,
.app-image-marker__number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-image-marker[style],
.app-image-marker__number {
  min-width: nhsuk-px-to-rem(40px);
  min-height: nhsuk-px-to-rem(40px);

  border: 2px solid nhsuk-colour("white");
  border-radius: 2px;

  color: nhsuk-colour("white");
  background-color: $nhsuk-login-button-colour;

  user-select: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.app-image-marker[style] {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  margin-top: nhsuk-px-to-rem(-20px);
  margin-left: nhsuk-px-to-rem(-20px);

  pointer-events: none;

  touch-action: none;

  &:hover {
    background-color: $nhsuk-login-button-hover-colour;
  }

  &:active {
    z-index: 60;

    transform: scale(1.05);

    opacity: 0.8;

    background-color: $nhsuk-login-button-active-colour;
    box-shadow: 0 nhsuk-spacing(1) nhsuk-spacing(3) rgba($breast-diagram-shadow-colour, 30%);

    cursor: grabbing;
  }
}

.app-image-marker[href],
.app-image-marker[type] {
  pointer-events: auto;
  text-decoration: none;
  cursor: pointer;
  @include nhsuk-link-style-reverse;

  &,
  &:focus .app-image-marker__description {
    text-decoration: none;
  }

  &:focus,
  &:focus .app-image-marker__number {
    border-color: transparent;
  }

  &:focus .app-image-marker__number {
    color: $nhsuk-text-colour;
    background-color: transparent;
  }

  &:not(:focus):hover .app-image-marker__description {
    color: $nhsuk-link-hover-colour;
    background-color: transparent;
    text-decoration: underline;
  }

  &:not(:focus):active .app-image-marker__description {
    color: $nhsuk-link-active-colour;
  }
}

.app-image-marker__number {
  margin: -2px; // Adjust for border width
  margin-right: nhsuk-spacing(2) + 4px - 2px;

  .app-image-marker[href]:not(:focus):hover & {
    background-color: $nhsuk-login-button-hover-colour;
  }

  .app-image-marker[href]:not(:focus):active & {
    background-color: $nhsuk-login-button-active-colour;
  }
}

.app-image-marker__description {
  padding-right: nhsuk-spacing(2) + 4px;
  color: $nhsuk-text-colour;

  @include nhsuk-media-query($from: tablet) {
    @include nhsuk-font-size(16, $line-height: 16px);
  }
}
