{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

{#-
  Determine type of element to use, if not explicitly set

  * Marker `"a"` links are used in the key with `href="#marker-1"` etc
  * Marker `"button"` elements are used by editable diagrams, with a click to edit the feature
  * Marker `"div"` elements are used by readonly diagrams and cannot be clicked
#}
{%- if params.element %}
  {% set element = params.element | lower %}
{% elif params.href %}
    {% set element = "a" %}
{% else %}
  {% set element = "div" %}
{% endif %}

{%- set attributesHtml %}
  {{- nhsukAttributes({
    class: "app-image-marker",
    name: {
      value: params.name if element == "button" else false,
      optional: true
    },
    "data-module": "app-image-marker"
  }) -}}

  {% if element == "button" %}
    {{- nhsukAttributes({
      type: params.type if params.type else "submit",
      value: {
        value: params.value,
        optional: true
      }
    }) -}}
  {% elif element == "a" %}
    {{- nhsukAttributes({
      href: {
        value: params.href if params.href else "#",
        optional: true
      },
      role: "button",
      draggable: "false"
    }) -}}
  {% endif %}

  {{- nhsukAttributes(params.attributes) -}}
{% endset -%}

<{{ element }} {{- attributesHtml | safe -}}>
{%- if not params.description %}
  {{- params.text -}}
{% else %}

  <span class="app-image-marker__number">
    {{- params.text -}}
  </span>
  <span class="nhsuk-u-visually-hidden">:</span>
  <span class="app-image-marker__description">
    {{- params.description -}}
  </span>
{% endif %}
</{{ element }}>
