@use "sass:color";
@use "sass:math";
@use "../../../stylesheets/vendor/nhsuk-frontend/base" as *;

$breast-diagram-width: 700px;
$breast-diagram-highlight-colour: nhsuk-tint(nhsuk-colour("yellow"), 50%);
$breast-diagram-active-colour: nhsuk-tint(nhsuk-colour("blue"), 50%);
$breast-diagram-shadow-colour: nhsuk-colour-compatible(
  color.adjust(nhsuk-shade(nhsuk-colour("blue"), 50%), $saturation: -80%)
);

.app-breast-diagram {
  position: relative;
  margin-top: nhsuk-spacing(-4);
  padding-top: nhsuk-spacing(4);
  @include nhsuk-responsive-margin(4, "bottom");

  [hidden] {
    display: none;
  }
}

.app-breast-diagram[data-read-only] {
  margin-bottom: 0;
}

.app-breast-diagram__side-labels {
  display: flex;
  justify-content: space-between;

  @include nhsuk-text-colour;
  @include nhsuk-font($size: 19, $weight: bold);
  @include nhsuk-responsive-margin(2, "bottom");
}

.app-breast-diagram__popover {
  margin: nhsuk-spacing(-3) 0 nhsuk-spacing(5) + $nhsuk-border-width;
  padding-top: nhsuk-spacing(3);
  border: solid $nhsuk-border-colour;
  border-width: 0 0 $nhsuk-border-width;

  &:focus {
    border-color: $nhsuk-focus-text-colour;
    outline: $nhsuk-focus-width solid $nhsuk-focus-colour;
  }

  @include nhsuk-media-query($until: desktop) {
    background: none;

    .nhsuk-card__content {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include nhsuk-media-query($from: desktop) {
    position: absolute;
    z-index: 100;

    top: nhsuk-spacing(4);
    left: nhsuk-spacing(-3);

    // Cover half the diagram, allowing for the left offset
    width: calc(nhsuk-px-to-rem(math.div($breast-diagram-width, 2)) - nhsuk-spacing(-3));
    max-width: calc(50% - nhsuk-spacing(-3));
    margin: 0;
    padding: 0;

    border: $nhsuk-border-width solid nhsuk-colour("blue");
    border-radius: $nhsuk-border-radius;

    background: nhsuk-colour("white");
    box-shadow: 0 nhsuk-spacing(1) nhsuk-spacing(3) rgba($breast-diagram-shadow-colour, 15%);

    // Align popover to right
    &--align-right {
      right: nhsuk-spacing(-3);
      left: auto;
    }

    .nhsuk-card__content {
      padding-bottom: nhsuk-spacing(4);
    }
  }

  @include nhsuk-media-query(
    $and: "(min-width: #{(nhsuk-em($nhsuk-page-width + ($nhsuk-gutter * 2) - nhsuk-spacing(-5)))})"
  ) {
    left: nhsuk-spacing(-5);

    // Cover half the diagram, allowing for the left offset
    width: calc(nhsuk-px-to-rem(math.div($breast-diagram-width, 2)) - nhsuk-spacing(-5));
    max-width: calc(50% - nhsuk-spacing(-5));

    // Align popover to right
    &--align-right {
      right: nhsuk-spacing(-5);
      left: auto;
    }
  }
}

.app-breast-diagram__svg {
  display: block;

  .app-breast-diagram:not([data-read-only]) & {
    pointer-events: all;
    cursor: crosshair;
  }
}

.app-breast-diagram__diagram {
  pointer-events: none;
}

.app-breast-diagram[data-debug] {
  .app-breast-diagram__regions [data-active] {
    fill: $breast-diagram-active-colour;
  }
}

.app-breast-diagram[data-debug]:not([data-read-only]) {
  .app-breast-diagram__regions path,
  .app-breast-diagram__regions polygon {
    // Slow fade out (default)
    transition: fill 0.3s ease-in;
  }

  .app-breast-diagram__regions path:hover,
  .app-breast-diagram__regions polygon:hover,
  .app-breast-diagram__regions [data-active] {
    // Fast fade in (on hover)
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
  }

  .app-breast-diagram__regions path:hover,
  .app-breast-diagram__regions polygon:hover {
    fill: $breast-diagram-highlight-colour;
  }

  .app-breast-diagram__regions [data-active]:hover {
    fill: color.adjust(
      color.mix($breast-diagram-active-colour, $breast-diagram-highlight-colour, 75%),
      $lightness: 10%,
      $saturation: 25%
    );
  }
}
