@use "sass:color";
@use "../../../stylesheets/vendor/nhsuk-frontend" as *;

$breast-diagram-highlight-colour: nhsuk-tint(nhsuk-colour("yellow"), 50%);
$breast-diagram-active-colour: nhsuk-tint(nhsuk-colour("blue"), 50%);

.app-breast-diagram {
  @include nhsuk-responsive-margin(4, "bottom");
}

.app-breast-diagram[data-read-only] {
  margin-bottom: 0;
}

.app-breast-diagram__side-labels {
  display: flex;
  justify-content: space-between;

  @include nhsuk-text-colour;
  @include nhsuk-font($size: 19, $weight: bold);
  @include nhsuk-responsive-margin(2, "bottom");
}

.app-breast-diagram__svg {
  display: block;

  .app-breast-diagram:not([data-read-only]) & {
    pointer-events: all;
    cursor: crosshair;
  }
}

.app-breast-diagram__diagram {
  pointer-events: none;
}

.app-breast-diagram[data-debug] {
  .app-breast-diagram__regions [data-active] {
    fill: $breast-diagram-active-colour;
  }
}

.app-breast-diagram[data-debug]:not([data-read-only]) {
  .app-breast-diagram__regions path,
  .app-breast-diagram__regions polygon {
    // Slow fade out (default)
    transition: fill 0.3s ease-in;
  }

  .app-breast-diagram__regions path:hover,
  .app-breast-diagram__regions polygon:hover,
  .app-breast-diagram__regions [data-active] {
    // Fast fade in (on hover)
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
  }

  .app-breast-diagram__regions path:hover,
  .app-breast-diagram__regions polygon:hover {
    fill: $breast-diagram-highlight-colour;
  }

  .app-breast-diagram__regions [data-active]:hover {
    fill: color.adjust(
      color.mix($breast-diagram-active-colour, $breast-diagram-highlight-colour, 75%),
      $lightness: 10%,
      $saturation: 25%
    );
  }
}
