{% from "nhsuk/components/summary-list/macro.njk" import summaryList %}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "components/breast-features/macro.njk" import appBreastFeatures %}

<div {{- nhsukAttributes({
  class: "app-breast-diagram",
  "data-module": "app-breast-diagram",
  "data-debug": {
    value: "true" if params.debug else false,
    optional: true
  },
  "data-read-only": {
    value: "true" if params.readOnly else false,
    optional: true
  }
}) -}}>
  {% if caller or params.html %}
    {{ caller() if caller else params.html | safe | trim | indent(4) }}
  {% elif params.text %}
    <p class="nhsuk-body">
      {{ params.text | trim | indent(6) }}
    </p>
  {% endif %}

  <div class="app-breast-diagram__side-labels">
    <span>Right</span>
    <span>Left</span>
  </div>

  <figure
    {{- nhsukAttributes({
      class: "app-breast-diagram__image-map nhsuk-u-width-full",
      "data-module": "app-image-map"
    }) -}}

    {{- nhsukAttributes(params.imageMap.attributes) -}}>
  {% if params.version == 1 %}
    {% include "components/breast-diagram/v1.svg" %}
  {% endif %}
  </figure>

{% if params.features | length %}
  {{ appBreastFeatures({
    items: params.features,
    readOnly: params.readOnly
  }) | trim | indent(2) }}
{% endif %}

{% if params.debug %}
  {{ summaryList({
    rows: [
      {
        key: {
          text: "Image X"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-x"
        }
      } if not params.readOnly,
      {
        key: {
          text: "Image Y"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-y"
        }
      } if not params.readOnly,
      {
        key: {
          text: "Image region"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-region"
        }
      } if not params.readOnly,
      {
        key: {
          text: "Input values"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-input"
        },
        classes: "nhsuk-summary-list__row--no-border"
      }
    ]
  }) | trim | indent(2) }}
{% endif %}
</div>
