{% from "nhsuk/components/button/macro.njk" import button %}
{% from "nhsuk/components/card/macro.njk" import card %}
{% from "nhsuk/components/code/macro.njk" import code %}
{% from "nhsuk/components/radios/macro.njk" import radios %}
{% from "nhsuk/components/summary-list/macro.njk" import summaryList %}
{% from "nhsuk/components/tag/macro.njk" import tag %}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "components/image-key/macro.njk" import appImageKey %}
{% from "components/image-key-item/macro.njk" import appImageKeyItem %}
{% from "components/image-map/macro.njk" import appImageMap %}
{% from "components/image-marker/macro.njk" import appImageMarker %}

<div {{- nhsukAttributes({
  class: "app-breast-diagram",
  "data-module": "app-breast-diagram",
  "data-debug": {
    value: "true" if params.debug else false,
    optional: true
  },
  "data-read-only": {
    value: "true" if params.readOnly else false,
    optional: true
  }
}) -}}>
  {% if caller or params.html %}
    {{ caller() if caller else params.html | safe | trim | indent(4) }}
  {% elif params.text %}
    <p class="nhsuk-body">
      {{ params.text | trim | indent(6) }}
    </p>
  {% endif %}

  <div class="app-breast-diagram__side-labels">
    <span>Right</span>
    <span>Left</span>
  </div>

  <template class="app-js-template-image-marker">
    {{ appImageMarker({
      text: "?",
      element: "button" if not params.readOnly,
      type: "button" if not params.readOnly
    }) | trim | indent(4) }}
  </template>

  {% call appImageMap(params.imageMap) %}
    {% if params.version == 1 %}
      {% include "components/breast-diagram/v1.svg" %}
    {% endif %}
  {% endcall %}

{% if not params.readOnly %}
  {% set headingHtml %}
    <span class="app-breast-diagram__caption nhsuk-caption-m app-js-feature-caption-add">
      Add new feature
    </span>
    <span class="app-breast-diagram__caption nhsuk-caption-m app-js-feature-caption-edit" hidden>
      Editing feature
    </span>
    <h2 class="nhsuk-fieldset__heading nhsuk-heading-m">
      What is the feature?
    </h2>
  {% endset %}

  {% set descriptionHtml %}
    <p class="nhsuk-body">
      This will be added to<br>
      {{ tag({
        text: "Left lower inner",
        classes: "app-breast-diagram__region",
        colour: "white"
      }) | trim | indent(6) }}
    </p>
  {% endset %}

  {% call card({
    classes: "app-breast-diagram__card",
    variant: "secondary",
    attributes: {
      hidden: {
        value: true,
        optional: true
      }
    }
  }) %}
    {{ radios({
      fieldset: {
        legend: {
          html: headingHtml,
          size: "m"
        }
      },
      formGroup: {
        beforeInputs: {
          html: descriptionHtml
        }
      },
      name: "feature",
      small: true,
      items: [
        {
          text: "Mole",
          value: "mole"
        },
        {
          text: "Wart",
          value: "wart"
        },
        {
          text: "Scar",
          value: "scar"
        },
        {
          text: "Bruising or trauma",
          value: "bruising_or_trauma"
        },
        {
          text: "Other feature",
          value: "other_feature"
        }
      ]
    }) | trim | indent(4) }}

    <div class="nhsuk-button-group nhsuk-button-group--small">
      {{ button({
        text: "Add",
        variant: "secondary",
        small: true,
        classes: "app-breast-diagram__button app-js-feature-add"
      }) | trim | indent(6) }}

      {{ button({
        text: "Save changes",
        variant: "secondary",
        small: true,
        classes: "app-breast-diagram__button app-js-feature-edit",
        attributes: {
          hidden: {
            value: true,
            optional: true
          }
        }
      }) | trim | indent(6) }}

      {{ button({
        text: "Cancel",
        type: "reset",
        variant: "secondary",
        small: true,
        classes: "app-breast-diagram__button app-js-feature-cancel"
      }) | trim | indent(6) }}

      <button class="nhsuk-link app-link app-link--warning app-breast-diagram__button app-js-feature-remove" type="reset">
        Remove
      </button>
    </div>
  {% endcall %}
{% endif %}

  {{ appImageKey({
    items: params.features,
    readOnly: params.readOnly
  }) | trim | indent(2) }}

{% if params.debug %}
  {% if not params.readOnly %}
  {{ summaryList({
    rows: [
      {
        key: {
          text: "Image X"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-x"
        }
      },
      {
        key: {
          text: "Image Y"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-y"
        }
      },
      {
        key: {
          text: "Image region"
        },
        value: {
          text: "N/A",
          classes: "app-js-image-region"
        },
        classes: "nhsuk-summary-list__row--no-border"
      }
    ]
  }) | trim | indent(2) }}
  {% endif %}

  {{ code({
    text: "[]",
    classes: "nhsuk-u-margin-bottom-0 app-js-image-input"
  }) | trim | indent(2) }}
{% endif %}
</div>
