{% from "nhsuk/components/summary-list/macro.njk" import summaryList -%}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes -%}

<div {{- nhsukAttributes({
  class: "app-breast-diagram",
  "data-module": "app-breast-diagram",
  "data-debug": {
    value: "true" if params.debug else false,
    optional: true
  },
  "data-read-only": {
    value: "true" if params.readOnly else false,
    optional: true
  }
}) -}}>
  <p class="nhsuk-body" id="breast-diagram-description">
    Click the diagram to add notable features such as scars, moles, or warts that image readers may need to be aware of. These could be observed by you or reported by the participant.
  </p>

  <h2 class="nhsuk-heading-m">Where is the feature?</h2>

  <div class="app-breast-diagram__side-labels">
    <span>Right</span>
    <span>Left</span>
  </div>

  <figure {{- nhsukAttributes({
    class: "app-breast-diagram__image-map nhsuk-u-width-full",
    "aria-describedby": "breast-diagram-description",
    "data-module": "app-image-map"
  }) -}}>
  {% if params.version == 1 %}
    {% include "components/breast-diagram/v1.svg" %}
  {% endif %}
  </figure>

  {% if params.debug %}
    {{ summaryList({
      rows: [
        {
          key: {
            text: "Image X"
          },
          value: {
            text: "N/A",
            classes: "app-js-image-x"
          }
        } if not params.readOnly,
        {
          key: {
            text: "Image Y"
          },
          value: {
            text: "N/A",
            classes: "app-js-image-y"
          }
        } if not params.readOnly,
        {
          key: {
            text: "Image region"
          },
          value: {
            text: "N/A",
            classes: "app-js-image-region"
          }
        } if not params.readOnly,
        {
          key: {
            text: "Input values"
          },
          value: {
            text: "N/A",
            classes: "app-js-image-input"
          },
          classes: "nhsuk-summary-list__row--no-border"
        }
      ]
    }) }}
  {% endif %}
</div>
