{% from "nhsuk/components/tag/macro.njk" import tag %}
{% from "components/image-marker/macro.njk" import appImageMarker %}

<li class="app-image-key__item">
  {{ appImageMarker({
    text: params.index,
    description: params.description,
    href: params.href
  }) | trim | indent(2) }}

  {{ tag({
    text: params.tag,
    classes: "app-image-key__tag",
    colour: "white"
  }) | trim | indent(2) }}
</li>
