@use "../../../stylesheets/vendor/nhsuk-frontend/base" as *;

.app-image-map {
  position: relative;
  margin: 0;
  overflow: hidden;
  border: 3px solid $nhsuk-text-colour;
  background: nhsuk-colour("white");

  @include nhsuk-responsive-margin(4, "bottom");

  &:focus {
    outline: $nhsuk-focus-width solid $nhsuk-focus-colour;
    box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
  }
}
