@use "sass:color";

// Import NHS.UK frontend library
@use "vendor/nhsuk-frontend" as *;
@forward "vendor/nhsuk-frontend";

// Add your custom CSS/Sass styles below.
@forward "../views/components/breast-diagram";
@forward "../views/components/image-key";
@forward "../views/components/image-map";
@forward "../views/components/image-marker";

.app-link[hidden] {
  display: none;
}

.app-link--error,
.app-link--warning {
  color: $nhsuk-error-colour;
  @include nhsuk-link-style(
    $link-colour: $nhsuk-error-colour,
    $link-visited-colour: $nhsuk-error-colour,
    $link-hover-colour: color.scale($nhsuk-error-colour, $lightness: -30%),
    $link-active-colour: $nhsuk-error-colour
  );
}
