@use "sass:color";
@use "../../../stylesheets/vendor/nhsuk-frontend" as *;

// Use NHS.UK frontend task list hover colour
$image-key-hover-colour: color.adjust(nhsuk-colour("grey-5"), $lightness: -6%);

.app-image-key {
  @include nhsuk-responsive-margin(4, "bottom");

  &:last-child {
    margin-bottom: 0;
  }
}

.app-image-key__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: nhsuk-spacing(3);
}

.app-image-key__title {
  margin-bottom: 0;
  @include nhsuk-font-size(19);
}

.app-image-key__button[hidden] {
  display: none;
}

.app-image-key__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-image-key__item {
  display: flex;

  position: relative;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding-top: nhsuk-spacing(2) + 4px;
  padding-bottom: nhsuk-spacing(2) + 4px;

  border-bottom: 1px solid $nhsuk-border-colour;

  &:last-child {
    border-bottom-width: 0;
  }

  &:hover,
  &:has(a:hover) {
    background-color: $image-key-hover-colour;
  }

  .app-image-key[data-read-only] &:hover {
    background-color: transparent;
  }

  a::before {
    content: "";

    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-image-key__item .nhsuk-tag {
  max-width: 50%;
  text-align: right;
}
