{% from "nhsuk/components/button/macro.njk" import button %}
{% from "nhsuk/components/tag/macro.njk" import tag %}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}
{% from "components/image-marker/macro.njk" import appImageMarker %}
{% from "components/image-key-item/macro.njk" import appImageKeyItem %}

{#- Set classes for this component #}
{%- set classNames = "app-image-key" -%}

{%- if params.classes %}
  {% set classNames = classNames ~ " " ~ params.classes %}
{% endif %}

<div {{- nhsukAttributes({
  class: classNames,
  "data-module": "app-image-key",
  "data-read-only": {
    value: "true" if params.readOnly else false,
    optional: true
  },
  hidden: {
    value: true if not params.items | length else false,
    optional: true
  }
}) -}}>
  <div class="app-image-key__header">
    <h3 class="nhsuk-heading-s app-image-key__title">Key</h3>
  {% if not params.readOnly %}
    <button class="nhsuk-link app-link app-link--warning app-js-feature-clear-all" type="reset" hidden>
      Clear all features
    </button>
  {% endif %}
  </div>

  <template class="app-js-template-image-key-item">
    {{ appImageKeyItem({
      description: "Pending",
      tag: "Unknown",
      href: "#" if not params.readOnly
    }) | trim | indent(4) }}
  </template>

  <ul class="app-image-key__items">
  {% for item in params.items %}
    {% set description = (item.id | replace("_", " ") | capitalize) ~ ((": " ~ item.details) if item.details) -%}

    {{ appImageKeyItem({
      text: loop.index | string,
      description: description,
      ariaLabel: "Marker " ~ loop.index ~ ", " ~ description,
      tag: item.region_id | replace("_", " ") | capitalize,
      value: loop.index | string,
      href: undefined if params.readOnly else "#marker-" ~ loop.index
    }) | trim | indent(4) }}
  {% endfor %}
  </ul>
</div>
