{% extends "layout.html" %}

{% set pageName = "SVG test" %}

{% set features = data.features if data.features | length and data.features is iterable else [] %}
{% set count = features | length %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-u-reading-width">

        <form {{- nhsukAttributes({
          method: "post",
          novalidate: {
            value: true,
            optional: true
          }
        }) -}}>
          <input {{- nhsukAttributes({
            name: "features",
            value: {
              value: features,
              type: "array"
            },
            type: "hidden",
            readonly: {
              value: "true" if data.readOnly else false,
              optional: true
            }
          }) }}>

          <h1 class="nhsuk-heading-l">
            <span class="nhsuk-caption-l">Janet Williams</span>
            Record breast features
          </h1>

          {% call appBreastDiagram({
            debug: data.debug,
            features: features,
            imageMap: {
              attributes: {
                "aria-describedby": "breast-diagram-description"
              }
            },
            version: 1
          }) %}
            <p class="nhsuk-body" id="breast-diagram-description">
              Click the diagram to add notable features such as scars, moles, or warts that image readers may need to be aware of. These could be observed by you or reported by the participant.
            </p>

            <h2 class="nhsuk-heading-m">Where is the feature?</h2>
          {% endcall %}

          <div class="nhsuk-button-group">
            {{ button({
              text: "Save"
            }) }}
          </div>

          <p class="nhsuk-body">
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">
              Save and stop appointment because it cannot proceed
            </a>
          </p>
        </form>

          <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <form {{- nhsukAttributes({
          method: "post",
          novalidate: {
            value: true,
            optional: true
          }
        }) -}}>
          <input {{- nhsukAttributes({
            name: "features",
            value: {
              value: features,
              type: "array"
            },
            type: "hidden",
            readonly: {
              value: "true" if data.readOnly else false,
              optional: true
            }
          }) }}>

          {% call card({
            heading: "Breast features"
          }) %}
            <p>Non-surgical scars, moles and other features that may appear on mammogram images</p>

            {% if count %}
              {{ appBreastDiagram({
                debug: data.debug,
                features: features,
                text: count ~ " breast " ~ ("feature" if count == 1 else "features") ~ " recorded",
                readOnly: true,
                version: 1
              }) }}
            {% else %}
              {{ insetText({
                text: "No breast features have been recorded for this participant.",
                classes: "nhsuk-u-margin-top-0"
              }) }}
            {% endif %}
          {% endcall %}
        </form>

      </div>
    </div>
  </div>
{% endblock %}
